.venv/
assignment3/.venv/
.playwright-mcp/
__pycache__/
*.py[cod]
*.crdownload
assignment3/data/
assignment3/tools/
assignment3/work/
assignment3/*.fastq.gz
assignment3/test-*/
test/
assignment3/results/**/work/
assignment3/results/**/logs/*.pickle
assignment3/results/**/logs/*.pid
assignment3/results/*/luigi_local_run.log
assignment3/results/**/*.sam
assignment3/results/**/*.bam
assignment3/results/**/*.bai
assignment3/results/**/*.vcf
assignment3/results/**/*.vcf.gz
assignment3/results/**/*.fastq
assignment3/results/**/*.fastq.gz
assignment3/results/**/*.fasta
assignment3/results/**/*.fna
assignment3/results/**/*.mmi
assignment3/results/**/*.fa
